.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #014d4d;
    color: white;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.nav-links a {
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #d4af37;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a.active {
    color: #d4af37;
}
