body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #014d4d;
}

h1, h2 {
    font-weight: 600;
}

.page {
    padding: 2rem;
    animation: fadeIn 1s ease-in;
}

.headline {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}
